---
import Layout from '../../Layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
---

<Layout title="Javier J. Martínez F. - Full Stack Developer" lang="es">
  <main>
    <Hero lang="en" />
  </main>
</Layout>