---
import Layout from '../Layouts/layout.astro';
---

<Layout>
	<div class="flex items-center justify-center h-screen bg-slate-900">
		<h1 class="text-6xl text-blue-500 font-bold">
			¡Hello Astro!
		</h1>
	</div>
</Layout>