---
import Layout from '../../Layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import Experience from '../../components/Experience.astro'; // <--- Importar
import ContactForm from '../../components/ContactForm.astro';
import WhatsAppFloat from '../../components/WhatsAppFloat.astro';
---

<Layout title="Tu Nombre - Ingeniero de Software" lang="es">
  <main>
    <Hero lang="es" />
    
    <Experience lang="es" />
    
    <section id="projects" class="py-20 text-center">
        <h2 class="text-3xl font-bold">Mis Proyectos (Mañana...)</h2>
    </section>

    <ContactForm lang="es" />
  </main>
  <WhatsAppFloat />
</Layout>