---
import Layout from '../../Layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import ContactForm from '../../components/ContactForm.astro';
import WhatsAppFloat from '../../components/WhatsAppFloat.astro';
---

<Layout title="Javier J. Martínez F. - Ingeniero de Software" lang="es">
	<main>
		<Hero lang="es" />
        <ContactForm lang="es" />
	</main>
    <WhatsAppFloat />
</Layout>