---
import Layout from '../../Layouts/Layout.astro';
---

<Layout title="Mi Portafolio - Desarrollador Full Stack" lang="es">
	<main class="flex flex-col items-center justify-center min-h-screen">
		<h1 class="text-6xl text-blue-600 font-bold mb-4">¡Hola Astro!</h1>
		<p class="text-xl">Bienvenido a mi versión en Español.</p>
	</main>
</Layout>