---
import Layout from '../../Layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
---

<Layout title="Javier J. Martínez F. - Desarrollador Full Stack" lang="es">
  <main>
    <Hero lang="es" />
  </main>
</Layout>