---
import Layout from '../../Layouts/Layout.astro';
import Hero from '../../components/Hero.astro';
import ContactForm from '../../components/ContactForm.astro';   
import WhatsAppFloat from '../../components/WhatsAppFloat.astro'; 
---

<Layout title="Javier J. Martínez F. - Desarrollador Full Stack" lang="es">
  <main>
    <Hero lang="es" />
    
    <section id="proyectos" class="py-20 text-center">
        <h2 class="text-3xl font-bold">Mis Proyectos (Próximamente...)</h2>
    </section>

    <ContactForm lang="es" />
  </main>
  
  <WhatsAppFloat />
</Layout>